* {
  margin: 0%;
  padding: 0%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, crimson, #e23937);
  background-color: #e23937;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-weight: 400;
  background-size: cover;
  min-height: 100vh; }

.logo {
  height: 8rem;
  margin-left: 1%; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%; }
  .search_input {
    background-color: #d1bfbf;
    font-size: 2.5rem;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .3s;
    margin-right: -3.25rem; }
    .search_input:focus {
      outline: none;
      width: 100%;
      background-color: #af9b9b; }
    .search_input::-webkit-input-placeholder {
      font-weight: 100;
      color: black; }
  .search_input:focus + .search_button {
    background-color: #af9b9b; }
  .search_button {
    border: none;
    background-color: #d1bfbf;
    color: aliceblue; }
    .search_button:focus {
      outline: none; }
    .search_button:active {
      transform: translateX(2px); }
  .search_icon {
    height: 2rem;
    width: 2rem; }

.user_nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-left: -2%; }
  .user_nav_icon_box {
    padding: 0 1.5rem;
    cursor: pointer;
    height: 80%;
    display: flex;
    align-items: center;
    position: relative; }
  .user_nav_icon_box:hover {
    background-color: #e0dada; }
  .user_nav_icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user_nav_notifications {
    font-size: .8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 100px;
    background-color: crimson;
    color: wheat;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user_nav_user {
    display: grid;
    margin-right: 2rem;
    margin-left: 1.3rem; }
  .user_nav_user_photo {
    height: 5rem;
    border-radius: 100px;
    background-color: #cfe2e2; }
  .user_nav_user_name {
    font-size: 1.5rem;
    align-items: center;
    margin-left: 0.7rem; }

.sidebar .sidenav {
  text-decoration: none;
  list-style: none; }
  .sidebar .sidenav_items::before {
    content: "";
    position: absolute;
    width: 3px;
    left: 0%;
    height: 100%;
    background-color: crimson;
    transform: scaleY(0);
    transition: transform .4s; }
  .sidebar .sidenav_items:hover:before, .sidebar .sidenav_items_active:before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar .sidenav_items {
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    padding: 2%; }
  .sidebar .sidenav_link:link, .sidebar .sidenav_link:visited {
    color: white;
    font-size: 2.5rem;
    padding: 2%;
    position: relative;
    text-decoration: none;
    z-index: 100px; }
  .sidebar .sidenav_link:hover {
    color: white; }

.sidebar .sidenav_icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  margin-right: 0.2rem; }

.gallery {
  display: flex; }
  .gallery_items {
    width: 34%; }
  .gallery_pic {
    width: 100%;
    height: 100%; }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: antiquewhite;
  border-bottom: 2px solid #807070; }
  .overview_hotel_name {
    padding: 0% 1%; }
    .overview_hotel_name h1 {
      text-transform: uppercase;
      font-size: 2.2rem;
      font-family: 'Times New Roman', Times, serif; }
  .overview_location {
    display: flex;
    align-items: center; }
    .overview_location a {
      border-bottom: 1px solid crimson;
      text-decoration: none;
      color: black;
      font-size: 2rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
      .overview_location a:hover {
        color: crimson;
        border-bottom: none;
        cursor: pointer;
        animation: twink .7s infinite; }
  .overview_stars {
    display: flex; }
  .overview_icon {
    width: 2rem;
    height: 2rem;
    fill: crimson; }
  .overview_vote {
    background-color: crimson;
    color: white;
    padding: 1.5%; }

@keyframes twink {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.detail p {
  font-size: 1.6rem; }

.detail li {
  font-size: 1.4rem; }

.detail h1 {
  color: #3e3a3a;
  font-family: 'Times New Roman', Times, serif; }

.detail .list {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
  border-bottom: 0.5px solid #746e6e;
  border-top: 0.5px solid #746e6e; }
  .detail .list_item {
    flex: 0 0 50%; }
  .detail .list_icon {
    height: 2rem;
    width: 2rem; }

.detail .similar_item {
  display: flex;
  margin-bottom: 5%; }
  .detail .similar_item a {
    text-decoration: none;
    color: #3e3a3a; }
    .detail .similar_item a :hover {
      color: #e7b3aa; }
  .detail .similar_item img {
    width: 15rem; }

.detail .similar {
  margin-top: 5%; }

.review {
  padding: 1%;
  position: relative; }
  .review_text {
    font-size: 1.5rem;
    z-index: 10; }
  .review_user {
    display: flex;
    justify-content: space-between; }
    .review_user img {
      border-radius: 50%; }
  .review_box {
    padding: 6%;
    background-color: lavenderblush;
    margin-bottom: 9%;
    margin-top: 9%;
    position: relative; }
    .review_box::before {
      content: "\201C";
      position: absolute;
      font-size: 18rem;
      top: -4rem;
      left: -1.6rem;
      color: #bce893;
      font-family: sans-serif;
      z-index: 1;
      line-height: 1; }
    .review_box p {
      font-size: 1.2rem; }
    .review_box img {
      width: 4rem; }
  .review .review_rating {
    margin-right: 0%; }
    .review .review_rating p {
      font-size: 2.5rem;
      color: crimson; }

.btn {
  text-align: center;
  transition: all .5s; }
  .btn a {
    font-size: 2rem;
    text-decoration: none;
    color: #cbd4b6;
    border-bottom: 1px solid #c5d79f;
    transition: all 0.5s cubic-bezier(0.4, 0, 1, 1) 0s; }
    .btn a:hover {
      color: black;
      border-bottom: none;
      transform: rotateX(50deg); }
    .btn a use {
      fill: currentColor; }

.book {
  border-top: 2px solid #454141;
  padding: 4%;
  text-align: center; }
  .book .button {
    padding: 2%;
    position: relative;
    overflow: hidden;
    color: transparent;
    cursor: pointer; }
    .book .button a {
      padding: 1.5% 4%;
      background-image: linear-gradient(to right, crimson, #db7687);
      border-radius: 100px;
      font-size: 2rem;
      text-decoration: none;
      color: white; }
    .book .button_visible {
      display: inline-block; }
    .book .button_invisible {
      display: inline-block;
      position: absolute;
      top: -100%; }
    .book .button:hover .book .button_visible {
      color: aqua; }
    .book .button:hover .book .button_invisible {
      top: 0%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #bbadad;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  height: 8rem;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex;
  height: 100%; }

.sidebar {
  background-color: #141615;
  flex: 0 0 20%; }

.hotel {
  flex: 1; }

.detail {
  display: flex;
  padding: 4%;
  background-color: bisque;
  border-bottom: 1cm black; }

.description {
  flex: 0 0 60%;
  margin-right: 4%;
  background-color: orangered;
  padding: 4%; }

.review {
  flex: 1;
  background-color: yellowgreen; }
