$bp-largest:75em; //1200px
$bp-large:68.5em; //1100px
$bp-medium:56.25em;//900px
$bp-small:42.5em ;//680px
$bp-smallest:30.5em ;//500px
$bp-xsmall:23em; //390px
*{
    margin: 0%;
    padding: 0%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (max-width: $bp-large)
    {
        font-size: 50%;
        overflow: hidden;
    }
}
body{
   background-image: linear-gradient(to right bottom , crimson ,  rgb(226, 57, 55));
    
   background-color: rgb(226, 57, 55);
   font-family:Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    line-height: 1.6;
    font-weight: 400;
    background-size: cover;
    min-height: 100vh;
    
}

