.logo{
    height: 8rem;
    margin-left: 1%;
}

.search{
    //background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;

   
    flex :0 0 40%;
    &_input{
        background-color: rgb(209, 191, 191);
        font-size:2.5rem;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .3s;
        margin-right: -3.25rem;
        &:focus{
            outline: none;
            width: 100%;
            background-color: rgb(175, 155, 155);
            
           
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color:black;
        }


    }
    &_input:focus + &_button{
        background-color: rgb(175, 155, 155);
       
    }
    &_button{
        border: none;
          background-color: rgb(209, 191, 191);
          color: aliceblue;
          

          &:focus{
            outline: none;
          }
          &:active{
            transform: translateX(2px);
          }

    }
    &_icon{
        height:2rem;
        width:2rem;

    }
}
.user_nav{
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-left: -2%;

    &_icon_box{
        padding: 0 1.5rem;
        cursor: pointer;
        height: 80%;
        display: flex;
        align-items: center;
        position: relative;
}
&_icon_box:hover{
    background-color:rgb(224, 218, 218);
   
       
   
}

&_icon{
        height:2.25rem;
        width:2.25rem;
       

    }
    &_notifications{
        font-size: .8rem;
        height: 1.7rem;
        width:1.7rem;
        border-radius: 100px;
        background-color: crimson;
        color: wheat;
        position: absolute;
        top:1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_user{
        display: grid;
         margin-right: 2rem;
        margin-left: 1.3rem;
    }
  
    &_user_photo{
        height: 5rem;
        border-radius: 100px;
       // margin-right: 1rem;
       // margin-left: 1rem;
        background-color: rgb(207, 226, 226);


    }

    &_user_name{
        font-size: 1.5rem;
        align-items: center;
        margin-left: 0.7rem;
       
        

    }
}
.sidebar{
    
    
    .sidenav{
        //margin-right: 2%;
        
        text-decoration: none;
        list-style: none;
        

        &_items::before{
           content:"";
           position: absolute;
           width:3px;
           left: 0%;
           height: 100%;
           background-color: crimson;
           transform: scaleY(0);
           transition: transform .4s;
    
        }
        &_items:hover:before,
        &_items_active:before
        {
            
            transform: scaleY(1); 
            width:100%;
            
           

        }
    &_items{
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;
        padding: 2%;
        

    }
    &_link:link,
    &_link:visited{
        color:white;
       // padding: 1rem 2rem;
        font-size: 2.5rem;
        padding: 2%;
        position: relative;
            text-decoration: none;
           // padding: 1rem 2rem;
           z-index: 100px;
    }
    
    &_link:hover{
        color:white;
        
        
    }
    

    }

.sidenav_icon{
    height:2rem;
    width:2rem;
    fill:currentColor;
    margin-right: 0.2rem;
}}