.container{
max-width: 120rem; //1200px max and for rest 100%
margin: 8rem auto;
background-color: rgb(187, 173, 173);
box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
min-height: 50rem;
@media only screen and (max-width:$bp-largest)
    {
        padding: 0%;
        margin: 0%;
    }
}


.header{
    height: 8rem;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.content{
    display:flex;
    height: 100%;
    @media only screen and (max-width:$bp-medium)
    {
       flex-direction: column;
    }

}
.sidebar{
    background-color: rgb(20, 22, 21);
    flex : 0 0 20%;
     //no grow and no shrink and width is always 20%
}
.hotel{
   // background-color: rgb(5, 66, 119);
    flex:1; //to take the remaining space

}
.detail{
    display: flex;
    padding: 4%;
    background-color: bisque;
    border-bottom: 1cm black;
    @media only screen and (max-width:$bp-medium)
    {
       padding: 1%;
    }
    @media only screen and (max-width: $bp-small)
    {
        flex-direction: column;
    }
    
}
.description{
    flex: 0 0 60%;// no grow, no shrink total width
    margin-right: 4%;
    background-color:orangered ;
    padding:4%;
    @media only screen and (max-width:$bp-medium)
    {
       padding: 2%;
       margin-right: 1%;
    }
    
    

}
.review{
    flex :1;
    background-color: yellowgreen;

}